body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #006b85; /* Adjust the background color here */
    background: linear-gradient(to right, #006b85, #00a79d); /* Adjust the gradient colors here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s;
}

.btn-primary {
    background-color: #00a79d; /* Adjust the button color here */
}

.btn-secondary {
    background-color: #005151; /* Adjust the button color here */
}

.btn:hover {
    background-color: #005151; /* Adjust the button color on hover here */
}
