body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #006b85; /* Adjust the background color here */
    background: linear-gradient(to right, #006b85, #00a79d); /* Adjust the gradient colors here */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    
}
.bingo_page {
    font-family: Arial, sans-serif;
    text-align: center;
}

#number-container {
    font-size: 3rem;
    padding: 20px;
    border: 2px solid #333;
    width: 200px;
    margin: 0 auto;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s;
}

.btn-primary {
    background-color: #00a79d; /* Adjust the button color here */
}

.btn-secondary {
    background-color: #005151; /* Adjust the button color here */
}

.btn:hover {
    background-color: #005151; /* Adjust the button color on hover here */
}
#number-container {
    /* Add any desired styling to the number container */
    font-size: 36px;
    text-align: center;
    height: 50px; /* Adjust the height as needed */
    overflow: hidden;
}

#number-container .scrolling {
    animation: scroll 1s linear; /* Adjust animation duration as needed */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}