{% load static %}


<style>    
    .t {
        padding: 5px 10px;
        font-size: 17px;
        background-color: #ffffff; /* Dark blue color */
        color: #005875; /* Text color */
        font-weight: 50px;
        border-radius: 15px; /* Rounded corners */
        box-shadow: inset 0 0 5px .1px rgba(0, 0, 0, 0.5);
        border: none; /* Remove default button border */
        cursor: pointer; /* Add pointer cursor on hover */
        transition: transform 0.2s; /* Add a small animation on hover */
    }

    .t:hover {
        transform: scale(1.05); /* Scale up slightly on hover */
        background-color: orange;
        color: #ffffff; 
    }
</style>

    <a href="{% url 'home' %}" class="t fa-solid fa-arrow-left">HOME
</a>
